<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
	      	<meta charset="utf-8" />
</head>

<body>
	Language :
	<a href="?language=en">English</a>|
	<a href="?language=vi_VN">Viet Nam</a>|
	<a href="?language=ja_JP">Japanese</a>|
	<a href="?language=fr_FR">France</a>
<!--	<p th:text="${message}">User test</p>-->
	<p th:text="#{hello}"></p></div>

	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row">
			<div class="col-6 no-padding">
				<form class="form-inline" action="#" th:action="@{/city/search}" method="get">
					<input class="form-control mr-sm-2" type="search" name="term" placeholder="Search by name ..." />
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i> Search
					</button>
				</form>
			</div>

			<div class="col-6 no-padding">
				<a href="#" th:href="@{/city/add}" class="btn btn-success float-right">
					<i class="fa fa-plus-square"></i> New city
				</a>
			</div>
		</div>

		<div class="row mt-4">
			<div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<th:block th:if="${#lists.isEmpty(cities)}">
				<h5>No cities</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(cities)}">
				<div class="table-responsive">
					<h5 th:text="#{List of City}"></h5>
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>#</th>
							<th>City Name</th>
							<th>National</th>
							<th>Area</th>
							<th>Popular</th>
							<th>GDP</th>
							<th>Description</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="city,iterStat : ${cities}">
							<th scope="row" th:text="${iterStat.count}"></th>
							<td th:text="${city.name}"></td>
							<td th:text="${city.national}"></td>
							<td th:text="${city.area}"></td>
							<td th:text="${city.popular}"></td>
							<td th:text="${city.GDP}"></td>
							<td th:text="${city.description}"></td>
							<td>
								<a href="#" th:href="@{/city/{id}/edit(id=${city.id})}" class="mr-sm-2 text-primary">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" th:href="@{/city/{id}/delete(id=${city.id})}" class="text-danger">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>
	</div><!-- /.container -->
<!--	<div>-->
<!--		<a th:href="@{'/city'(page=${cities.number - 1})}" th:if="${cities.hasPrevious()}">Previous</a>-->
<!--		<span th:text="${cities.number + 1}"></span>/<span th:text="${cities.totalPages}"></span>-->
<!--		<a th:href="@{'/city'(page=${cities.number + 1})}" th:if="${cities.hasNext()}">Next</a>-->
<!--	</div>-->

	<footer th:replace="layout :: footer"></footer>

</body>
</html>